:root[data-style='brutal'] {
  --radius: 0;
  --border-width: 2px;
  --border-style: solid;
  --ring-width: 2px;
  --ring-offset-width: 2px;

  --volt-shadow-sm: 2px 2px 0 var(--border);
  --volt-shadow: 4px 4px 0 var(--border);
  --volt-shadow-md: 6px 6px 0 var(--border);
  --volt-shadow-lg: 8px 8px 0 var(--border);

  --spacing-component: 0.875;
  --spacing-gap: 0.375rem;

  --volt-font-weight-base: 500;
  --volt-font-weight-heading: 800;
  --volt-font-weight-label: 700;
}
