:root[data-style='ghost'] {
  --radius: 0.25rem;
  --border-width: 0;
  --border-style: solid;
  --ring-width: 1px;
  --ring-offset-width: 1px;

  --volt-shadow-sm: none;
  --volt-shadow: none;
  --volt-shadow-md: none;
  --volt-shadow-lg: none;

  --spacing-component: 1.25;
  --spacing-gap: 1rem;

  --volt-font-weight-base: 300;
  --volt-font-weight-heading: 500;
  --volt-font-weight-label: 400;
}
